<template>
    <table>
        <tr>
            <th v-for="(value, index) in header" :key="index">
                {{value}}
            </th>
        </tr>
        <JTableRow
            v-for="(values, index) in items"
            :key="index"
            :values="values"
        />
    </table>
</template>

<script>
import JTableRow from '@edplus-ds/j-table-row/JTableRow';
export default {
    name: 'JTable',
    props: {
        header: {
            type: Array
        },
        items: {
            type: Array,
            required: true
        }
    },
    components: {
        JTableRow
    }
}
</script>

<style>
th {
    text-align: left;
    padding: 8px;
    font-size: 18px;
    background-color: #eeeeee
}
</style>
